
<div class="contenedor">

  <nav class="navbar navbar-light bg-light barra">

    <i class="fab fa-twitter icono"></i>
    <span class="navbar-brand mb-0 h1 barrat">TWEET SEARCH</span> 

  </nav>

  <section class="mainSearch" ng-show="showSearch">
    
    <article class="mainArticle">
      
      <h1 class="choose"> Choose a word, find Tweets</h1>

      <div class="form-group searchGroup">

        <input type="text" class="form-control word" placeholder="Choose your word" ng-model="word">

        <button type="button" class="btn btn-outline-dark search"  ng-click="find()">Search</button>

      </div>



    </article>


  </section>



</section>
